@{
    ViewBag.Title = "Home Page";
}

<h2>Team Services Tools</h2>

<br />
<br />

<p>Set your account and personal access token in @Html.ActionLink("Settings", "Index", "Settings").</p>

<br />
<br />
