@model TeamServicesTools.Web.Models.ProjectCollections.ProjectCollectionModel

@{
    ViewBag.Title = $"{Model.ProjectCollection.Name} Project Collection";
}

<h2>@ViewBag.Title</h2>


<br />
<br />

See @Html.ActionLink("Projects", "Index", "Projects")
